.bigherosix{
    height: 100vh;
}

.bumpDown{
    margin-top: 15px;
}

body{
    background: rgb(142,89,4);
    background: linear-gradient(150deg, rgba(142,89,4,1) 19%, rgba(207,165,83,1) 50%, rgba(255,145,0,1) 78%);
}

.todoborder{
    border: 1px solid rgb(71, 71, 71);
}

.todoColor{
    background-color: rgb(183, 170, 143);
}

.toDoInputs{
    margin: 5px ;
}